<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List Vue.js v.3</title>
  <link rel="stylesheet" href="./style.css?v=1.00">
</head>
<body>
  <!-- Start App -->
  <div id="app">
    <div class="header">
      <div class="container">
        <div class="logo">ToDo List</div>

        <div class="form">
          <input type="text" 
          v-bind:value="inputText" 
          v-on:input="inInput" 
          v-on:keypress.enter="addTask">

          <button class="btn" 
          v-on:click="addTask">Add a new task</button>

        </div>
      </div>
    </div>
    <div class="container">
    	<!-- Список toDO -->
      <h2>
        <span>To Do</span>
        <span class="mask-num">{{ one_list_count=list_arr.length }}</span>
      </h2>
      <ul class="mask-list">
        <li v-for="item in list_arr">
          <div>
            <input type="checkbox" 
            v-on:change="doCheck(item, 'need')">
            <span>{{ item }}</span>
          </div>
          <button class="btn-remove"
          v-on:click="removeTask(item)">Remove</button>
        </li>
      </ul>
      <!-- Список DONE -->
      <h2>
        <span>Done</span>
        <span class="mask-num">{{ two_list_count=list_arr_close.length }}</span>
      </h2>
      <ul class="mask-list complete-list">
        <li v-for="item in list_arr_close">
          <div>
            <input type="checkbox" 
            v-on:change="doCheck(item, 'complete')">
            <span>{{ item }}</span>
          </div>
          <button class="btn-remove" 
          v-on:click="removeTask(item)">Remove</button>
        </li>
      </ul>
    </div>
  </div>

  <!-- End App -->
<script src="https://unpkg.com/vue@next"></script>
<script type="text/javascript" src="app.js?v=1.00"></script>
</body>
</html>